POSTGRES_USER=multagal
POSTGRES_PASSWORD=changeme
POSTGRES_DB=multagal

MARIADB_ROOT_PASSWORD=changeme
MARIADB_DATABASE=multagal
MARIADB_USER=multagal
MARIADB_PASSWORD=changeme

MONGO_INITDB_ROOT_USERNAME=multagal
MONGO_INIT_ROOT_PASSWORD=changeme
MONGO_INITDB_DATABASE=multagal